# Exclude
/.idea
*.fbx
*.bin
*.gltf
*.obj
*.mtl
*.zip
*.db
/.git
/static/models
/app/web/img

# Exceptions
!/app/web/img/form-header.jpg
!/app/web/img/download.png
!/app/web/img/icons.png
!/app/web/img/border-image.png
!/app/web/img/gradient-light