# Exclude
/.idea
/.vscode
/venv
*.fbx
*.bin
*.gltf
*.glb
*.obj
*.mtl
*.zip
*.db
*.pyc
/.git
/app/static/models/*
/static/models/*
/app/static/img
Dockerfile-*
/tests/*

# Exceptions
!/app/static/img/form-header.jpg
!/app/static/img/download.png
!/app/static/img/icons.png
!/app/static/img/border-image.png
!/app/static/img/gradient-light
!/tests/test-api.py