# Exclude
/.idea
*.fbx
*.bin
*.gltf
*.glb
*.obj
*.mtl
*.zip
*.db
/.git
/app/static/models/*
/static/models/*
/app/static/img
Dockerfile-*

# Exceptions
!/app/static/img/form-header.jpg
!/app/static/img/download.png
!/app/static/img/icons.png
!/app/static/img/border-image.png
!/app/static/img/gradient-light