/*-------------------------
    Simple reset
--------------------------*/


* {
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html {
    background-color:#43a8c6;
    background-image:-webkit-radial-gradient(center, #43a8c6, #7e3971);
    background-image:-moz-radial-gradient(center, #43a8c6, #7e3971);
    background-image:radial-gradient(center, #43a8c6, #7e3971);
    min-height:900px;
}

body {
    font:15px/1.3 Arial, sans-serif;
    color: #7f858a;
}

a, a:visited {
    outline: none;
    color: #2d77b4;
}

a:hover {
    text-decoration:none;
}

section,
footer,
header,
aside {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/*----------------------------
    The file upload form
-----------------------------*/


.wrapper {
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
    width:350px;
    border-radius:3px;
    overflow: hidden;
    margin:100px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#upload {
    padding:30px 30px 0px 30px;
}

#drop {
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border: 3px dashed #7f858a;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}

#drop.in {
    border: 3px dashed #24c279;
}

#drop a {
    background-color: #2d77b4;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}

#drop a:hover {
    background-color: #2b70aa;
}

#drop input {
    display:none;
}

#upload ul {
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#upload ul li {
    background-color:#333639;
    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;
    position: relative;
}

#upload ul li input {
    display: none;
}

#upload ul li p {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i {
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p {
    color:red;
}

.download-icon img {
    width: 48px;
    top: 15px;
    left: 32px;
    position: absolute;
}

.download-icon:hover img {
    opacity: 0.9;
}

/*----------------------------
    The Demo Footer
-----------------------------*/


footer {
    background-color: #2E3134;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer .footer-inner {
    overflow: hidden;
    width:350px;
    margin: 0 auto;
    padding: 13px 0;
}

footer .footer-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

footer .footer-link a {
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer div a:hover {
    color: #2b70aa !important;
}