<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>glTF 2.0 file converter</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="/static/css/style.css" rel="stylesheet" />

	</head>

	<body>

		<div class="wrapper">
			<div class="form-header" id="container">
				<img src="/static/img/form-header.jpg" alt="glTF model converter" />
			</div>
			<form id="upload" method="post" action="http://127.0.0.1:5022/v1/models" enctype="multipart/form-data">
				<div id="settings">
					<div class="custom-checkbox-wrapper">
						<div class="custom-checkbox">
					    	<input type="checkbox" value="None" id="binary" name="binary" checked />
					    	<label for="binary"></label>
					    </div>
					    <span>Binary (GLB)</span>
					</div>  
					<div class="custom-checkbox-wrapper">
						<div class="custom-checkbox">
					    	<input type="checkbox" value="None" id="compress" name="compress" />
					    	<label for="compress"></label>
					    </div>
					    <span>Compress</span>
					</div>    	
				</div>

				<div id="drop">
					Drop file here
					or <a>browse</a>
					<input type="file" name="file" id="file" />
					<!-- Always convert to GLB format 
					<input type="hidden" name="binary" value="true">-->
				</div>

				<ul id="uploaded-items">
					<!-- The file uploads will be shown here -->
				</ul>
			</form>
		</div>

		<footer>
            <div class="footer-inner">
                <div class="footer-link pull-left">Brought to you by <a href="https://headjack.io" title="Headjack - Create VR apps in minutes instead of months">Headjack</a></div>
                <div class="footer-link pull-right"><a href="#" id="about">About</a></div>
            </div>
        </footer>
        
		<!-- JavaScript Includes -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="/static/js/jquery.ui.widget.js"></script>
		<script src="/static/js/jquery.iframe-transport.js"></script>
		<script src="/static/js/jquery.fileupload.js"></script>

        <!-- Three JS GLTF loader -->
        <script src="/static/js/three.min.js"></script>
		<script src="/static/js/OrbitControls.js"></script>
		<script src="/static/js/GLTFLoader.js"></script>
        <!--<script src="js/three.gltf.js"></script>-->
		
		<!-- Our main JS file -->
		<script src="/static/js/script.js"></script>

	</body>
</html>